TREASURR_TAUTULLI_KEY=your_tautulli_api_key
TREASURR_OVERSEERR_KEY=your_overseerr_api_key
TREASURR_SONARR_KEY=your_sonarr_api_key
TREASURR_RADARR_KEY=your_radarr_api_key
TREASURR_SECRET_KEY=change_me_to_a_random_string
TREASURR_PLEX_CLIENT_ID=your_plex_app_client_id
